/* Селекторы по тегам */

body {
    font-family: arial;
    font-size: 25px;
}

main {
    margin: 32px auto;
    width: 320px;
}

hr {
    margin: 40px 0;
}

select {
    padding: 14px 12px;
    background-color: #ddd;
    border:none;
    border-radius: 8px;
    font-size: 36px;
}

input[type=text] {
    padding: 16px;
    position: relative;
    top: -4px;
}

textarea {
    width: 120%;
    margin-bottom: 32px;
}

input[type=file] {

    margin-bottom: 32px;


}

a {
    color: black;
    font-size: 32px;
}

/* Селекторы по классам */

.button {
    background-color: #ddd;
    padding: 16px 32px;
    text-decoration: none;
    color: black;
    border:none;
    border-radius: 8px;
    font-size: 36px;
}


